@{
    // Define que esta página não usará o layout padrão do sistema, pois a tela de login ocupa a tela toda
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login - Barbearia JLMGG</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@tabler/icons-webfont@latest/tabler-icons.min.css"/>
    
    @* Linkando arquivo css da pasta wwwrot  *@
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />

</head>
<body>

    <div class="auth-container">
        <div class="auth-hero">
            <div class="auth-logo"><span>JLMGG</span></div>
            <h1 class="auth-title">ACESSO AO SISTEMA</h1>
            <p class="auth-sub">Faça login para gerenciar os agendamentos</p>
        </div>

        @if (ViewBag.Erro != null)
        {
            <div class="error-msg">@ViewBag.Erro</div>
        }

 <form action="/Account/Autenticar" method="post">
    <div class="form-group">
        <label>E-mail</label>
        <div class="input-icon-wrap">
            <i class="ti ti-user inp-icon"></i>
            <input type="text" name="E-mail" placeholder="Seu e-mail de acesso" required />
        </div>
    </div>

    <div class="form-group">
        <label>Senha</label>
        <div class="input-icon-wrap">
            <i class="ti ti-lock inp-icon"></i>
            <input type="password" name="senha" placeholder="Sua senha" required />
        </div>
    </div>

    <a href="/Account/EsqueceuSenha" class="forgot-link" style="text-decoration:none;">Esqueceu a senha?</a>

    <button type="submit" class="btn-confirm">ENTRAR <i class="ti ti-arrow-right"></i></button>

    <div class="auth-divider">ou</div>
    <div class="auth-link-row">
        Não possui uma conta? <a href="/Account/Registro" class="auth-link" style="text-decoration:none;">Criar usuário</a>
    </div>
</form>
    </div>

</body>
</html>
